.card-movie-list {
  width: 290px;
  margin-bottom: 20px;
  padding-right: 20px;
}

.card-movie-list img {
  width: 290px;
  height: 160px;
  margin-top: 26px;
}

.card-movie-list-title {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.015em;
  color: #ffffff;
  mix-blend-mode: normal;
  margin-left: 20px;
  margin-top: 10px;
}

.card-movie-list-year {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #ffc700;
  mix-blend-mode: normal;
  margin-left: 20px;
}

.card-movie-list-subtitle {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #ffffff;
  mix-blend-mode: normal;
  margin-left: 20px;
}

@media (min-width: 576px) {
  .card-movie-list {
    width: 258px;
  }

  .card-movie-list img {
    width: 258px;
  }
}

@media (min-width: 768px) {
  .card-movie-list {
    width: 318px;
    margin-bottom: 40px;
  }

  .card-movie-list img {
    width: 318px;
  }
}
